//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 16 21:19:10 2014
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "LED2" LOCATE = SITE "M8" LEVEL 1;
COMP "CLK50" LOCATE = SITE "U26" LEVEL 1;
COMP "M1_T1" LOCATE = SITE "T26" LEVEL 1;
COMP "M1_T2" LOCATE = SITE "R25" LEVEL 1;
COMP "DIAG_N" LOCATE = SITE "P22" LEVEL 1;
COMP "M1_SSEG_A<0>" LOCATE = SITE "Y22" LEVEL 1;
COMP "M1_SSEG_A<1>" LOCATE = SITE "V24" LEVEL 1;
COMP "M1_SSEG_A<2>" LOCATE = SITE "W24" LEVEL 1;
COMP "M1_SSEG_A<3>" LOCATE = SITE "U24" LEVEL 1;
COMP "M1_SSEG_B<0>" LOCATE = SITE "Y24" LEVEL 1;
COMP "M1_SSEG_A<4>" LOCATE = SITE "T22" LEVEL 1;
COMP "M1_SSEG_B<1>" LOCATE = SITE "AD24" LEVEL 1;
COMP "M1_SSEG_A<5>" LOCATE = SITE "AA22" LEVEL 1;
COMP "M1_SSEG_B<2>" LOCATE = SITE "W22" LEVEL 1;
COMP "M1_SSEG_A<6>" LOCATE = SITE "V22" LEVEL 1;
COMP "M1_SSEG_B<3>" LOCATE = SITE "W19" LEVEL 1;
COMP "M1_SSEG_B<4>" LOCATE = SITE "AE23" LEVEL 1;
COMP "M1_SSEG_B<5>" LOCATE = SITE "Y21" LEVEL 1;
COMP "M1_SSEG_B<6>" LOCATE = SITE "AF25" LEVEL 1;
COMP "M1_LED1" LOCATE = SITE "R26" LEVEL 1;
COMP "RESET_N" LOCATE = SITE "U22" LEVEL 1;
SCHEMATIC END;

