CONFIG VCCAUX=3.3;

NET "CLK50" LOC = "U26" | IOSTANDARD = "LVTTL";

NET "RESET_N" LOC = "U22" | IOSTANDARD = "LVTTL";
NET "M1_T1" LOC = "T26";
NET "M1_T2" LOC = "R25";
NET "DIAG_N" LOC = "P22" | IOSTANDARD = "LVTTL";

NET "M1_SSEG_A<0>" LOC = "Y22";
NET "M1_SSEG_A<1>" LOC = "V24";
NET "M1_SSEG_A<2>" LOC = "W24";
NET "M1_SSEG_A<3>" LOC = "U24";
NET "M1_SSEG_A<4>" LOC = "T22";
NET "M1_SSEG_A<5>" LOC = "AA22";
NET "M1_SSEG_A<6>" LOC = "V22";

NET "M1_SSEG_B<0>" LOC = "Y24";
NET "M1_SSEG_B<1>" LOC = "AD24";
NET "M1_SSEG_B<2>" LOC = "W22";
NET "M1_SSEG_B<3>" LOC = "W19";
NET "M1_SSEG_B<4>" LOC = "AE23";
NET "M1_SSEG_B<5>" LOC = "Y21";
NET "M1_SSEG_B<6>" LOC = "AF25";

NET "M1_LED1" LOC = "R26";
NET "LED2" LOC = "M8" | IOSTANDARD = "LVTTL"	| DRIVE = 2; # 330R led to gnd

NET M1_* IOSTANDARD = LVTTL |DRIVE = 8 | SLEW = FAST;