//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 16 19:26:13 2014
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "UART1_RXD" LOCATE = SITE "F24" LEVEL 1;
COMP "FPGA_SD_CMD" LOCATE = SITE "B23" LEVEL 1;
COMP "UART1_TXD" LOCATE = SITE "L18" LEVEL 1;
COMP "FPGA_SD_SCLK" LOCATE = SITE "N17" LEVEL 1;
COMP "LED2" LOCATE = SITE "M8" LEVEL 1;
COMP "M1_PS2_A_DATA" LOCATE = SITE "M24" LEVEL 1;
COMP "M1_PS2_B_DATA" LOCATE = SITE "L19" LEVEL 1;
COMP "CLK50" LOCATE = SITE "U26" LEVEL 1;
COMP "M1_T1" LOCATE = SITE "T26" LEVEL 1;
COMP "M1_T2" LOCATE = SITE "R25" LEVEL 1;
COMP "M1_VGA_RED<0>" LOCATE = SITE "AA23" LEVEL 1;
COMP "M1_VGA_RED<1>" LOCATE = SITE "AA24" LEVEL 1;
COMP "M1_VGA_RED<2>" LOCATE = SITE "U23" LEVEL 1;
COMP "M1_VGA_RED<3>" LOCATE = SITE "T23" LEVEL 1;
COMP "DIAG_N" LOCATE = SITE "P22" LEVEL 1;
COMP "DR_CKE" LOCATE = SITE "C14" LEVEL 1;
COMP "FPGA_SD_D0" LOCATE = SITE "B24" LEVEL 1;
COMP "FPGA_SD_D3" LOCATE = SITE "L17" LEVEL 1;
COMP "M1_VGA_GREEN<0>" LOCATE = SITE "F26" LEVEL 1;
COMP "M1_VGA_GREEN<1>" LOCATE = SITE "E26" LEVEL 1;
COMP "M1_VGA_GREEN<2>" LOCATE = SITE "E25" LEVEL 1;
COMP "M1_VGA_GREEN<3>" LOCATE = SITE "D26" LEVEL 1;
COMP "M1_PS2_A_CLK" LOCATE = SITE "M19" LEVEL 1;
COMP "M1_PS2_B_CLK" LOCATE = SITE "L24" LEVEL 1;
COMP "M1_VGA_CLOCK" LOCATE = SITE "L25" LEVEL 1;
COMP "M1_VGA_HSYNC" LOCATE = SITE "M26" LEVEL 1;
COMP "M1_VGA_VSYNC" LOCATE = SITE "N25" LEVEL 1;
COMP "M1_SSEG_A<0>" LOCATE = SITE "Y22" LEVEL 1;
COMP "M1_SSEG_A<1>" LOCATE = SITE "V24" LEVEL 1;
COMP "M1_SSEG_A<2>" LOCATE = SITE "W24" LEVEL 1;
COMP "M1_SSEG_A<3>" LOCATE = SITE "U24" LEVEL 1;
COMP "M1_SSEG_B<0>" LOCATE = SITE "Y24" LEVEL 1;
COMP "M1_SSEG_A<4>" LOCATE = SITE "T22" LEVEL 1;
COMP "M1_SSEG_B<1>" LOCATE = SITE "AD24" LEVEL 1;
COMP "M1_SSEG_A<5>" LOCATE = SITE "AA22" LEVEL 1;
COMP "M1_SSEG_B<2>" LOCATE = SITE "W22" LEVEL 1;
COMP "M1_SSEG_A<6>" LOCATE = SITE "V22" LEVEL 1;
COMP "M1_SSEG_B<3>" LOCATE = SITE "W19" LEVEL 1;
COMP "M1_SSEG_B<4>" LOCATE = SITE "AE23" LEVEL 1;
COMP "M1_SSEG_B<5>" LOCATE = SITE "Y21" LEVEL 1;
COMP "M1_SSEG_B<6>" LOCATE = SITE "AF25" LEVEL 1;
COMP "M1_VGA_BLUE<0>" LOCATE = SITE "N23" LEVEL 1;
COMP "M1_VGA_BLUE<1>" LOCATE = SITE "N21" LEVEL 1;
COMP "M1_VGA_BLUE<2>" LOCATE = SITE "M23" LEVEL 1;
COMP "M1_VGA_BLUE<3>" LOCATE = SITE "L23" LEVEL 1;
COMP "DR_A<10>" LOCATE = SITE "C18" LEVEL 1;
COMP "DR_A<11>" LOCATE = SITE "C17" LEVEL 1;
COMP "DR_D<10>" LOCATE = SITE "B8" LEVEL 1;
COMP "DR_D<11>" LOCATE = SITE "C7" LEVEL 1;
COMP "DR_D<12>" LOCATE = SITE "D6" LEVEL 1;
COMP "DR_D<13>" LOCATE = SITE "B6" LEVEL 1;
COMP "DR_D<14>" LOCATE = SITE "C6" LEVEL 1;
COMP "DR_D<15>" LOCATE = SITE "C5" LEVEL 1;
COMP "DR_BA<0>" LOCATE = SITE "A17" LEVEL 1;
COMP "DR_BA<1>" LOCATE = SITE "A18" LEVEL 1;
COMP "M1_LED1" LOCATE = SITE "R26" LEVEL 1;
COMP "DR_CAS_N" LOCATE = SITE "B12" LEVEL 1;
COMP "DR_CLK_O" LOCATE = SITE "A15" LEVEL 1;
COMP "DR_A<0>" LOCATE = SITE "A19" LEVEL 1;
COMP "DR_A<1>" LOCATE = SITE "B20" LEVEL 1;
COMP "DR_RAS_N" LOCATE = SITE "A14" LEVEL 1;
COMP "DR_A<2>" LOCATE = SITE "A20" LEVEL 1;
COMP "DR_A<3>" LOCATE = SITE "C21" LEVEL 1;
COMP "DR_A<4>" LOCATE = SITE "A22" LEVEL 1;
COMP "DR_A<5>" LOCATE = SITE "A21" LEVEL 1;
COMP "DR_A<6>" LOCATE = SITE "C20" LEVEL 1;
COMP "DR_A<7>" LOCATE = SITE "C19" LEVEL 1;
COMP "DR_A<8>" LOCATE = SITE "B18" LEVEL 1;
COMP "DR_A<9>" LOCATE = SITE "D18" LEVEL 1;
COMP "DR_D<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "DR_D<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "DR_D<2>" LOCATE = SITE "A4" LEVEL 1;
COMP "DR_D<3>" LOCATE = SITE "A5" LEVEL 1;
COMP "DR_D<4>" LOCATE = SITE "A6" LEVEL 1;
COMP "DR_D<5>" LOCATE = SITE "A7" LEVEL 1;
COMP "DR_D<6>" LOCATE = SITE "A8" LEVEL 1;
COMP "DR_D<7>" LOCATE = SITE "A9" LEVEL 1;
COMP "DR_D<8>" LOCATE = SITE "C13" LEVEL 1;
COMP "DR_D<9>" LOCATE = SITE "C11" LEVEL 1;
COMP "DR_CS_N" LOCATE = SITE "A16" LEVEL 1;
COMP "DR_WE_N" LOCATE = SITE "A11" LEVEL 1;
COMP "RESET_N" LOCATE = SITE "U22" LEVEL 1;
SCHEMATIC END;

